<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite">
    <test name="WebTests">
        <classes>
            <class name="org.example.tests.HomePageTest"/>
        </classes>
    </test>

    <test name="ApiTests">
        <classes>
            <class name="org.example.tests.ApiTest"/>
        </classes>
    </test>
</suite>
